<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Apurva Verma. It uses various api.</p>
        <p>For Geocoding : It uses location.api</p>
        <p>For Forecasting : It uses Weatherstack</p>
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>